<!-- detalhes_aluno.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes dos Professores</title>
</head>

<body>
  <h1>Detalhes dos Professores</h1>
  <p><strong>ID:</strong> {{ professor.id }}</p>
  <p><strong>Nome:</strong> {{ professor.nome }}</p>
  <p><strong>Idade:</strong> {{ professor.idade }}</p>
  <p><strong>Materia:  </strong> {{ professor.materia}}</p>
  <p><strong>Observações:  </strong> {{ professor.observacoes}}</p>

  <style>
    .form-inline {
      display: inline-block;
      margin-right: 10px; /* Ajuste o espaçamento conforme necessário */
    }
  </style>

  <form id="delete-form" action="{{ url_for('professores.delete_professor', id_professor=professor.id) }}" method="POST" class="form-inline">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Excluir Professor</button>
  </form>

  <form id="insert-form" action="{{ url_for('professores.adicionar_professor_page') }}" method="GET" class="form-inline">
    <input type="hidden" name="_method" value="GET">
    <button type="submit">Adicionar Novo Professor</button>
  </form>

  <form id="update-form" action="{{ url_for('professores.editar_professor_page', id_professor=professor.id) }}" method="GET" class="form-inline">
    <input type="hidden" name="_method" value="GET">
    <button type="submit">Editar Professores</button>
  </form>

  

</body>

</html>